<div>

  <h4>Añade un libro</h4>
  <form action="/books/create" method="POST">
  {{!-- action es a donde va a enviar la data --}}
  {{!-- method es que tipo de llamada va a hacer => GET o POST --}}
    <label for="title">Titulo:</label>
    <input type="text" name="title" />

    <br />

    <label for="description">Descripcion</label>
    <input type="text" name="description" />

    <br />

    <label for="author">Author:</label>
    <input type="text" name="author" />
    
    <br />

    <button type="submit">Añadir</button>
    {{!-- cuando esta dentro de un form se comporta siempre como submit de forma predeterminada --}}
  </form>
</div>