  
<div>

    <h4>Edita un libro</h4>

  <form action="/books/edit" method="POST">


    <label for="title">Titulo:</label>
    <input type="text" name="title" value="{{details.title}}"/>

    <br />

    <label for="description">Descripcion</label>
    <input type="text" name="description" value="{{details.description}}"/>

    <br />

    <label for="author">Author:</label>
    <input type="text" name="author" value="{{details.author}}"/>
    
    <br />

    <button type="submit">Editar</button>

  </form>

  </div>