<div>

    <h3>Añade un Autor</h3>

    <form action="/authors/create" method="POST">

        <label for="name">Nombre: </label>
        <input type="text" name="name">
    <br>
        <label for="country">Pais de Origen:</label>
        <input type="text" name="country">
    <br>
        <label for="yearBorn">Año Nacimiento</label>
        <input type="number" name="yearBorn">
    <br>
    <button>Añadir</button>


    </form>


</div>